body{
    background-image: url(/images/black-background.jpg);
}

htmL {
    scroll-behavior: smooth;
}

#teams-section, #info-section  {
    scroll-margin-top: 90px;
}


:root {
    --navbar-text-color: #000000;
    --intro-background-color: rgba(255, 255, 255, 0.75);
    --text-shadow-color: rgb(130,87,54);
    --about-background-color: red;
    --navbar-background-color: rgb(235, 232, 232);
}

#nav {
    z-index: 9999;
}

.navbar {
    margin-bottom: 80px;
}

.navbar-brand {
    padding: 0px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.navbar-brand>img {
    height: 12%;
    width: 12%;
    padding-bottom: 5px;
}

.nav-item{
    padding: 0 18px;
}

.navbar-custom {
    color: var(--navbar-text-color);
    background-color: var(--navbar-background-color);
    font-size: 16px;
}

/* Introduction */

.intro {
    background-image: url(/images/stadium.jpg);
    background-size: 100% 100%;
    margin: 0 auto 0 auto;
    padding-top: 75px;
    width: 95%;
}

.intro-paragraph{
    text-align: justify;
    background-color: var(--intro-background-color);
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.intro-box {
    padding: 0 0 50px 0;
}

.wojfc-title{
    color: rgb(25,84,126);
    font-size: 7.5rem;
    text-align: center;
    padding: 0 0 10px 0;
    font-family: 'Anton', sans-serif;
}

.wojfc-welcome{
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0 0 0;
    font-family: 'Anton', sans-serif;
}

/* Team Section */


.team-logos{
    background-image: url(/images/amerian-football-field-color2.jpg);
    background-size: 100% 100%;
    margin: 5px auto 0 auto;
    height: 100%;
    width: 95%;
    padding: 40px 0 75px 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-top {
    padding-top: 30px;
}

.row-bottom {
    padding-bottom: 40px;
}

.icon:hover {
    transform: scale(1.25);
}

.text-at-bottom {
    position: fixed;
    bottom: -35px; /* Adjust vertical position */
    left: 0;
    right: 0;
    color: white; /* Change text color */
    
  }

 h5 span {
    background-color: black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}


/* Information */

.info {
    background-image: url(/images/player-mixed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    margin: 5px auto 0 auto;
    color: #fff;
    width: 95%;
}

.wojf-info {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    padding: 0 0 30px 0;
    font-family: 'Anton', sans-serif;
}

.spacing {
    height: 30px;
}

.info-text:hover {
    text-shadow: 3px 3px 5px var(--text-shadow-color);
    transform: scale(1.25);
}

/* About */
.about {
    width: 95%;
    margin: 5px auto 0 auto;
}

.about-left {
    width: 50%;
    height: 550px;
    background-image: url(/images/football_and_players.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.about-right {
    width: 50%;
    height: 550px;
    background-color: var(--about-background-color);
    display: inline-block;
}

.quote {
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-right: 10%;
    font-size: 3rem;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    line-height: normal;    
}

.about-team {
    text-align: center;
    color: white;
    font-family: 'Recursive', sans-serif;
    font-size: 1.5rem;
    
    
}

/* Footer */

.footer {
    width: 95%;
    height: 75px;
    background-color: #000000;
    margin: 5px auto 0 auto;
}

.footer-info {
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: center;
    padding: 25px 0 0 0;
}

@media screen and (max-width: 1280px) {
    .quote {
        font-size: 2.5rem;
        
    }
}

@media screen and (min-width: 1920px) {
    .about-team {
        padding: 3%;
        
    }
    
}

@media screen and (max-width: 800px) {
    .quote {
        font-size: 1.7rem;
    }
    .navbar-label {
        display: none;
    }
    .about-team {
        font-size: 1rem;
        padding: 10%;
        
    }
}

/* Calendar Section */

.calendar {
    background-color: grey !important;
    background-size: 100% 100%;
    margin: 0 auto 0 auto;
    padding-top: 75px;
    padding-bottom: 50px;
    width: 95%;
}

.cal-font{
    color: white !important;
}